<div id="montre">

    <img class="images" src="https://raw.githubusercontent.com/cylia3/TPAngularEx1/master/src/assets/panel2.png">

  <img class="images aiguille" [ngStyle]="{'transform': 'rotate('+(second*6)+'deg)'}" src="https://raw.githubusercontent.com/cylia3/TPAngularEx1/master/src/assets/second2.png">
  <img class="images aiguille" [ngStyle]="{'transform': 'rotate('+(minute*6)+'deg)'}" src="https://raw.githubusercontent.com/cylia3/TPAngularEx1/master/src/assets/minute2.png">

  <img class="images aiguille" [ngStyle]="{'transform': 'rotate('+(heure*30)+(minute*0.2)+'deg)'}" src="https://raw.githubusercontent.com/cylia3/TPAngularEx1/master/src/assets/heure2.png">
 





</div>
